<div class="login">
	<div class="account-login">
	   <h1>Account Login</h1>
	   <form #form="ngForm" class="login-form">
			 <div class="form-group">
				<label for="pop_txt_name">username</label>
				<input type="text"  name="uname" class="form-control"  ngModel>
		  </div>
		  <div class="form-group" style="margin-top: 20px;">
			<label for="pop_txt_pasword" >Password</label>
			 <input type="password"  name="password"  class="form-control" ngModel>
		  </div>
		  <div class="remember">
			 <label class="custom-checkbox">Remember me
			 <input type="checkbox">
			 <span class="checkmark"></span>
			 </label>
			 <a class="pull-right">Forgot Password?</a>
		  </div>
		  <button class="btn" (click)="signIn()" >Login</button>
		  <p>Are you new?<a routerLink="/signup">Sign Up</a></p>
	   </form>
	</div>
</div>
